# Ignore venv and secrets
langroid-venv/
.env
*.pyc
.vscode

/data/audio_raw/
/data/features/
/z.Archives/
/.secrets/
__pycache__/
*.py[cod]
*.so
*.pkl
*.env


/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/